@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

/* mobile first */
/* mobil, tablet: do 750px, nad 750px PC */
/* barvy

šedá:               #ECEAE9;
modrá azurová       #357DED;
světlejší modrá:    #99D5FF;
černá:              #000000;
bílá:               #ffffff
*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.obsah {
  margin: 0px auto 20px auto;
  padding: 10px;
  background: linear-gradient(#357DED, #99D5FF, #ECEAE9);
}

.menu {
  display: flex;
  margin: 20px auto;
}

.header {
  background-color: #92cbf3;
  padding: 50px;
  margin: 0px auto;
}

.menu__list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  flex-basis: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
@media screen and (max-width: 750px) {
  .menu__list {
    display: block;
  }
}

.menu__link:hover {
  color: #ffffff;
}

.menu__item {
  flex-shrink: 1;
  padding: 15px;
  flex-grow: 1;
  text-align: center;
}

.menu__item:hover {
  background-color: #357DED;
  color: #ffffff;
}

.menu__item--active {
  background-color: #92cbf3;
  color: #ffffff;
}

.header__item {
  text-align: center;
}

.header__item::after {
  content: "";
  display: block;
  width: 200px;
  height: 5px;
  background-color: #357DED;
  margin: auto;
  margin-top: 10px;
}

.menu__link {
  text-decoration: none;
}

.footer__link {
  text-decoration: none;
}

.footer {
  background-color: #357DED;
  color: #ffffff;
  justify-content: space-between;
}
@media screen and (min-width: 750px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
  }
}

.footer__items {
  color: #ffffff;
  text-decoration: none;
  flex-shrink: 1;
  flex-grow: 1;
}

.footer__item:hover {
  background-color: #ffffff;
}

.footer__item {
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
  flex-basis: 100%;
  padding: 15px;
  margin: 5px;
}

.footer__copyright {
  align-content: center;
  text-align: center;
  padding: 20px;
}

.footer__list {
  list-style-type: none;
  color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-basis: 100%;
  margin: 0;
  padding-left: 0;
  flex-basis: 100%;
  justify-content: space-around;
  align-content: center;
}
@media screen and (max-width: 750px) {
  .footer__list {
    display: block;
  }
}

.uvod__ocentru,
.uvod__kurzy,
.uvod__rozvrh,
.uvod__fotogalerie,
.uvod__kontakt {
  display: block;
  max-width: 750px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px;
  margin: auto;
  position: relative;
  align-items: center;
  justify-content: center;
}

.uvod .foto__ocentru,
.uvod .foto__kurzy,
.uvod .foto__rozvrh,
.uvod .foto__fotogalerie,
.uvod .foto__kontakt {
  display: block;
  transition: transform 0.5s;
}

.fotouvod {
  width: 100%;
  border: 2px solid #357DED;
  max-height: 300px;
}

.uvod__ocentru:hover .foto__ocentru {
  transform: scale(1.2);
}

.uvod__kurzy:hover .foto__kurzy {
  transform: scale(1.2);
}

.uvod__rozvrh:hover .foto__rozvrh {
  transform: scale(1.2);
}

.uvod__fotogalerie:hover .foto__fotogalerie {
  transform: scale(1.2);
}

.uvod__kontakt:hover .foto__kontakt {
  transform: scale(1.2);
}

.foto__description-ocentru,
.foto__description-kurzy,
.foto__description-rozvrh,
.foto__description-fotogalerie,
.foto__description-kontakt {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  position: absolute;
  left: 25px;
  bottom: 0px;
  width: 90%;
  display: none;
}

.foto__description--klik {
  text-decoration: none;
  color: #ffffff;
}

.uvod__ocentru:hover .foto__description-ocentru,
.uvod__kurzy:hover .foto__description-kurzy,
.uvod__rozvrh:hover .foto__description-rozvrh,
.uvod__fotogalerie:hover .foto__description-fotogalerie,
.uvod__kontakt:hover .foto__description-kontakt {
  transform: translateY(10%);
  transform: scale(1.1);
  display: block;
  transition-delay: 0.5s;
}

.foto__popisek-ocentru,
.foto__popisek-kurzy,
.foto__popisek-rozvrh,
.foto__popisek-fotogalerie,
.foto__popisek-kontakt {
  margin: 0;
  text-align: center;
  border: 1px solid transparent;
}

.foto__ocentru {
  min-height: 300px;
}

.uvod {
  margin: 0px auto 20px auto;
  padding: 10px;
  background: linear-gradient(#357DED, #99D5FF, #ECEAE9);
}
@media screen and (max-width: 750px) {
  .uvod {
    padding: 10px;
    border: 2px solid #357DED;
    background: linear-gradient(#357DED, #99D5FF, #ECEAE9);
  }
}
@media screen and (min-width: 750px) {
  .uvod {
    border: 2px solid #357DED;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }
  .uvod .uvod__ocentru {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .uvod .uvod__kurzy {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .uvod .uvod__rozvrh {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .uvod .uvod__fotogalerie {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .uvod .uvod__kontakt {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.header__second {
  text-align: center;
}

.historie {
  margin: auto;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.historie__text {
  text-align: justify;
}

.historie__text--bold {
  text-align: center;
}

.icons {
  display: flex;
}
@media screen and (max-width: 750px) {
  .icons {
    flex-wrap: wrap;
  }
}

.icons__div {
  display: flex;
  flex-basis: 100%;
}

.icons__pic {
  max-width: 30%;
}

.icons__text {
  text-align: center;
}
@media screen and (max-width: 750px) {
  .icons__text {
    margin-bottom: 0;
  }
}

.icons__right {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  text-align: center;
}

.icons__pic,
.icons__right {
  padding: 20px;
}

.icons__header {
  flex-basis: 100%;
  font-size: 24px;
}
@media screen and (max-width: 750px) {
  .icons__header {
    margin-bottom: 0;
  }
}

.icons {
  justify-content: space-between;
}

.icons__div--levy,
.icons__div--prostredni,
.icons__div--pravy {
  display: flex;
  background-color: #ECEAE9;
  max-height: 200px;
  flex: 0 1 calc(100% - 20px);
  border: 1px solid transparent;
  border-radius: 20px;
}
@media screen and (max-width: 750px) {
  .icons__div--levy,
.icons__div--prostredni,
.icons__div--pravy {
    flex: 0 1 100%;
  }
}

.icons__div--levy {
  margin: 10px 10px 10px 0;
}
@media screen and (max-width: 750px) {
  .icons__div--levy {
    margin: 0;
    margin-bottom: 10px;
  }
}

.icons__div--prostredni {
  margin: 10px;
}
@media screen and (max-width: 750px) {
  .icons__div--prostredni {
    margin: 0;
    margin-bottom: 10px;
  }
}

.icons__div--pravy {
  margin: 10px 0 10px 10px;
}
@media screen and (max-width: 750px) {
  .icons__div--pravy {
    margin: 0;
    margin-bottom: 10px;
  }
}

.lectors__header {
  color: #08295E;
  text-decoration: underline;
  text-align: center;
  font-size: 24px;
  margin: 50px 20px;
}
@media screen and (max-width: 750px) {
  .lectors__header {
    margin-bottom: 0;
  }
}

.lectors__bio {
  display: flex;
  margin: 50px 20px;
}
@media screen and (max-width: 750px) {
  .lectors__bio {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 750px) {
  .lectors__bio--reverse {
    flex-direction: column;
  }
}

.lectors__popis {
  flex: 0 1 50%;
  padding: 50px;
  text-align: justify;
}

.lectors__teacher {
  max-width: 250px;
  flex: 1 1 50%;
  margin: auto;
  border: 1px solid #08295E;
  box-shadow: 2px 2px 7px #1c2228;
}

.lectors__edu {
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  background-color: #357DED;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 20px;
}

.lectors__edu--klik {
  text-decoration: underline;
  color: #ffffff;
}

.table {
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.table__main {
  margin-left: auto;
  margin-right: auto;
}

.table__head {
  border-bottom: 1px solid #000000;
}

.table__rows,
.table__header {
  border: 1px solid #000000;
}

.table__header {
  padding: 5px;
}
@media screen and (max-width: 750px) {
  .table__header {
    padding: 20px;
  }
}

.table__rows {
  padding: 30px;
}

/* ROZVRH HODIN */
.table__main {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

@media screen and (max-width: 750px) {
  .table {
    width: 100%;
    overflow-y: auto;
    overflow: auto;
    margin: 0 0 1em;
  }
}

.table__rows--klik {
  text-decoration: none;
  color: #08295E;
  font-size: 16px;
  padding: 25px 30px;
  border: 1px solid transparent;
  border-radius: 10px;
}
@media screen and (max-width: 750px) {
  .table__rows--klik {
    padding: 0;
  }
}

.table__rows--klik:hover {
  color: white;
  background-color: #357DED;
}

.mapa {
  margin: 50px;
  margin-left: 100px;
}
@media screen and (max-width: 750px) {
  .mapa {
    margin: auto;
  }
}

.kontakt__list {
  list-style-type: none;
  margin: 50px;
  margin-left: 0;
  padding-left: 0;
}
@media screen and (max-width: 750px) {
  .kontakt__list {
    margin: auto;
  }
}

.kontakt__obsah {
  display: flex;
  margin: auto;
}
@media screen and (max-width: 750px) {
  .kontakt__obsah {
    flex-wrap: wrap;
    margin: auto;
  }
}

.mapa,
.kontakt__list--right {
  flex: 0 1 50%;
}

@media screen and (max-width: 750px) {
  .kontakt__list--right {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 750px) {
  .kontakt__list--right .kontakt__list,
.kontakt__list--right .kontakt__text {
    flex: 0 1 100%;
    text-align: center;
  }
}

.kontakt__list--bold {
  font-weight: bold;
}

.kontakt__formular {
  margin: 50px;
  margin-bottom: 50px;
}

.formular {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.button {
  margin-top: 30px;
  padding: 20px;
  background-color: #357DED;
  color: #ffffff;
  border-radius: 20px;
  border: 1px solid transparent;
}
.button:hover {
  background-color: #08295E;
  text-decoration: underline;
}
.button:active {
  background-color: #000000;
}

.email {
  margin-bottom: 20px;
}

.label__prvni,
.label__druhy {
  flex: 1 1 100%;
  border-radius: 20px;
}

.prispevek {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;
  margin: 20px;
}
@media screen and (max-width: 750px) {
  .prispevek {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 750px) {
  .prispevek__header,
.prispevek__perex {
    text-align: center;
  }
}

.prispevek img {
  width: 100%;
}

.prispevek__minifoto {
  border: 1px solid #000000;
}

.prispevek__klik {
  text-decoration: none;
  color: #357DED;
  font-size: 16px;
  padding: 15px;
  margin-top: 10px;
  background-color: black;
  border-radius: 20px;
}

.prispevek__klik:hover .prispevek__klik {
  color: #ffffff;
}

.prispevek__perex {
  margin-bottom: 10px;
  padding: 20px;
  padding-left: 0;
  padding-top: 0;
}

.clanek {
  max-width: 600px;
  margin: 20px auto;
  padding: 50px;
  text-align: justify;
  background: linear-gradient(#357DED, #99D5FF, #ECEAE9);
}

.kurzy__seznam {
  margin-left: 20px;
}

.button__back {
  padding: 20px 30px;
  background-color: #357DED;
  color: #ffffff;
  border-radius: 20px;
  border: 1px solid transparent;
  margin: auto;
}
.button__back:hover {
  background-color: #08295E;
  text-decoration: underline;
}
.button__back:active {
  background-color: #000000;
}

.button__back--klik {
  text-decoration: none;
  color: #ffffff;
}

.course__content {
  display: flex;
  flex-wrap: wrap;
}

.course__text,
.course__image {
  flex: 1 1 50%;
}

.course__image {
  max-width: 400px;
  margin: 20px;
}

.course__text,
.course__title {
  margin: 20px;
}

.course__title {
  text-align: center;
}

.course__perex {
  font-weight: bold;
  text-align: justify;
}

.course__text {
  text-align: justify;
}

.prispevek__header {
  font-size: 16px;
}

.obsah__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 20px;
}
@media screen and (max-width: 750px) {
  .obsah__grid {
    grid-template-columns: 1fr;
  }
}

.galerie__image {
  max-width: 100%;
  border: 1px solid #000000;
}

.galeri__main {
  position: relative;
}

.galerie__description {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  opacity: 65%;
  padding: 20px;
  margin-top: 0;
  position: absolute;
  width: 200px;
  bottom: 286px;
}
@media screen and (max-width: 750px) {
  .galerie__description {
    position: relative;
    bottom: 353px;
  }
}/*# sourceMappingURL=style.css.map */