@use "main";


.mapa {
    margin: 50px;
    margin-left: 100px;

    @media screen and (max-width: 750px) {
        margin: auto;
    }
}

.kontakt__list {
    list-style-type: none;
    margin: 50px;
    margin-left: 0;
    padding-left: 0;

    @media screen and (max-width: 750px) {
        margin: auto;
    }
    }

.kontakt__obsah {
    display: flex;
    margin: auto;

    @media screen and (max-width: 750px) {
        flex-wrap: wrap;
        margin: auto;
    }
}

.mapa, 
.kontakt__list--right {
    flex: 0 1 50%;
}

.kontakt__list--right {

    @media screen and (max-width: 750px) {
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 100%;
        margin-top: 50px;
    }

    .kontakt__list,
    .kontakt__text {
        @media screen and (max-width: 750px) {
            flex: 0 1 100%;
            text-align: center;
        }
    }

}

.kontakt__list--bold {
    font-weight: bold;
}

.kontakt__formular {
    margin: 50px;
    margin-bottom: 50px;
}

.formular {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.button {
    margin-top: 30px;
    padding: 20px;
    background-color: main.$azur;
    color: main.$bila;
    border-radius: 20px;
    border: 1px solid transparent;

    &:hover {
        background-color: main.$secondary;
        text-decoration: underline;
    }

    &:active {
        background-color: main.$cerna;
    }
}


.email {
    margin-bottom: 20px;
}

.label__prvni,
.label__druhy {
    flex: 1 1 100%;
    border-radius: 20px;
}