@use "main";
@use "prispevek";

.prispevek {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 30px;
    margin: 20px;

    @media screen and (max-width: 750px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.prispevek__header,
.prispevek__perex {

    @media screen and (max-width: 750px) {
        text-align: center;
    }
}

.prispevek__media {
    @media screen (max-width: 750px) {
        margin-left: 50px;
    }
}

.prispevek img {
    width: 100%;
}

.prispevek__minifoto {
    border: 1px solid main.$cerna;
}

.prispevek__klik {
    text-decoration: none;
    color: main.$azur;
    font-size: 16px;
    padding: 15px;
    margin-top: 10px;
    background-color: black;
}

.prispevek__klik:hover .prispevek__klik {
    color: main.$bila;
}

.prispevek__perex {
    margin-bottom: 10px;
    padding: 20px;
    padding-left: 0;
    padding-top: 0;
}

.clanek {
    max-width: 600px;
    margin: auto;
    padding: 50px;
    text-align: justify;
}

.kurzy__seznam {
    margin-left: 20px;
}