html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

/* mobile first */
/* mobil, tablet: do 750px, nad 750px PC */
/* barvy

šedá:               #ECEAE9;
modrá azurová       #357DED;
světlejší modrá:    #99D5FF;
černá:              #000000;
bílá:               #ffffff
*/

$azur:         #357DED;
$secondary:    #08295E;
$modra:        #99D5FF;
$cerna:        #000000;
$bila:         #ffffff;
$seda:         #ECEAE9;
$doplnkova:    #92cbf3;

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.obsah {
    margin: 0px auto 20px auto;
    padding: 10px;
    background: linear-gradient($azur, $modra, $seda);
}
