@use "main";


.table {
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto;
}

.table__main {
    margin-left: auto; 
    margin-right: auto;
}

.table__head {
    border-bottom: 1px solid main.$cerna;
}

.table__rows,
.table__header {
    border: 1px solid main.$cerna;
}

.table__header {
    padding: 5px;
}

.table__rows {
    padding: 20px;
}

/* ROZVRH HODIN */


.table__main {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.table {
        @media screen and (max-width: 750px) {
            width: 100%;
            overflow-y: auto;
            overflow: auto;
            margin: 0 0 1em;
    }
}

.table__rows--klik {
    text-decoration: none;
    color: main.$secondary;
    font-size: 16px;
    padding: 20px;
    padding-top: 25px;
    border: 1px solid transparent;
}

.table__rows--klik:hover {
    color: white;
    background-color: main.$azur;
    
}