html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

/* mobile first */
/* mobil: do 750px, nad 750px PC */
/* barvy

šedá:               #ECEAE9;
modrá azurová       #357DED;
světlejší modrá:    #99D5FF;
černá:              #000000;
bílá:               #ffffff
*/

$azur:         #357DED;
$modra:        #99D5FF;
$cerna:        #000000;
$bila:         #ffffff;
$seda:         #ECEAE9;
$doplnkova:    #92cbf3;


body {
    font-family: 'Roboto', sans-serif;
    background-color: $bila;
}

.menu {
    display: flex;
    margin: 20px auto;
}

.header {
    /* background: linear-gradient($azur, $modra, $seda); */
    background-color: $doplnkova;
    padding: 50px;
    margin: 0px auto;
}

.menu__list {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

    @media screen and (max-width: 750px) {
        display: block;
    }
}

.menu__link:hover {
    color: $bila;
}

.menu__item {
	flex-shrink: 1;
    padding: 15px;
    flex-grow: 1;
    text-align: center;
}

.menu__item:hover {
    background-color: $azur;
    color: $bila; /* TOTO Z NĚJAKÉHO ZÁHADNÉHO DŮVODU NEFUNGUJE - CHCI, ABY PŘI NAJETÍ SE ZBARVILY POLOŽKY - BARVA PÍSMA NA BÍLOU */
}

.header__item {
    text-align: center;
}

.header__item::after {
    content: "";
	display: block;
	width: 200px;
	height: 5px;
	background-color: $azur;
    margin: auto;
    margin-top: 10px;
}

.menu__link,
.footer__link {
    text-decoration: none;

}

.footer {
    background-color: $azur;
    color: $bila;
    justify-content: space-between;

    @media screen and (min-width: 750px) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.footer__items {
    color: $bila;
    text-decoration: none;
    flex-shrink: 1;
    flex-grow: 1;
    
}

.footer__item:hover {
    background-color: white;
}

.footer__item {
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
    flex-basis: 100%;
    padding: 15px;
    margin: 5px;
}


.footer__copyright {
    align-content: center;
    text-align: center;
    padding: 20px;


}

.footer__list {
    list-style-type: none;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 100%;
    margin: 0;
	padding-left: 0;
    flex-basis: 100%;
    justify-content: space-around;
    align-content: center;

    @media screen and (max-width: 750px){
        display: block;
    }
}

.header__second {
    text-align: center;
}

.icons{
    display: flex;
}

.icons__div {
    display: flex;
    flex-basis: 100%
}

.icons__pic {
    max-width: 30%;
}

.icons__text {
    text-align: center;
}

.icons__right {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    text-align: center;
}

.table {
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto;
}

.table__head {
    border-bottom: 1px solid black;
}

.table__rows,
.table__header {
    border: 1px solid black;
}

/* OBRÁZKY, KTERÝM SE ZOBRAZÍ POPISEK */

.uvod__ocentru,
.uvod__kurzy,
.uvod__rozvrh,
.uvod__fotogalerie,
.uvod__kontakt {
    display: block;
    max-width: 750px;
    object-fit: cover;
    padding: 20px;
    margin: auto;
    position: relative;
}


.uvod .foto__ocentru,
.uvod .foto__kurzy,
.uvod .foto__rozvrh,
.uvod .foto__fotogalerie,
.uvod .foto__kontakt {
    height: auto;
    display: block;
    transition: transform 0.5s;
}

.fotouvod {
    width: 100%;
    border: 2px solid $azur;
    max-height: 350px;
}
.uvod__ocentru:hover .foto__ocentru {
    transform: scale(1.2);
}

.uvod__kurzy:hover .foto__kurzy {
    transform: scale(1.2);
}

.uvod__rozvrh:hover .foto__rozvrh {
    transform: scale(1.2);
}

.uvod__fotogalerie:hover .foto__fotogalerie {
    transform: scale(1.2);
}

.uvod__kontakt:hover .foto__kontakt {
    transform: scale(1.2);
}

.foto__description-ocentru,
.foto__description-kurzy,
.foto__description-rozvrh,
.foto__description-fotogalerie,
.foto__description-kontakt {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    left: 0px;
    bottom: 22px;
    width: 100%;
    align-items: center;
    display: none;
}

.uvod__ocentru:hover .foto__description-ocentru,
.uvod__kurzy:hover .foto__description-kurzy,
.uvod__rozvrh:hover .foto__description-rozvrh,
.uvod__fotogalerie:hover .foto__description-fotogalerie,
.uvod__kontakt:hover .foto__description-kontakt {
    transform: translateY(10%);
    transform: scale(1.1);
    display: block;
    transition-delay: 0.5s;
}

.foto__popisek-ocentru,
.foto__popisek-kurzy,
.foto__popisek-rozvrh,
.foto__popisek-fotogalerie,
.foto__popisek-kontakt {
    margin: 0;
    text-align: center;
}


.uvod {
    margin: 0px auto 20px auto;
    padding: 10px;
    background: linear-gradient($azur, $modra, $seda);

    @media screen and (max-width: 750px) {
        
        padding: 10px;
        border: 2px solid $azur;
        background: linear-gradient($azur, $modra, $seda);
    }

    @media screen and (min-width: 750px) {
        border: 2px solid $azur;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px;

        .uvod__ocentru {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        .uvod__kurzy {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        .uvod__rozvrh {
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        .uvod__fotogalerie {
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 4;
        }
        
        .uvod__kontakt {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
        } 
    }
}

/* ROZVRH HODIN */


.table__main {
    font-family: 'Roboto', sans-serif;
}

.table {
        @media screen and (max-width: 750px) {
            /* width: 100%;
            overflow-y: auto;
            overflow: auto;
            margin: 0 0 1em; */ /* PŘIDAT NĚJAKOU UTILITKU, ABY FUNGOVAL ROZVRH A DALO SE JÍM PŘÍPADNĚ SCROLLOVAT */
    }
}
