---
layout: page.njk
title: Vzdělávací centrum Davida Zlesáka
---

<article class="course">

	<h1 class="course__title">{{ title }}</h1>

	<div class="course__content">

		<div class="course__text">

			<p class="course__perex">{{ perex }}</p>

			{{ content | safe }}

		</div>

		<img class="course__image" src="/images/{{ foto }}" alt="{{ alt }}">

	</div>

</article>
