<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">

<h1 class="header__item">{{ title }}</h1>

</header>

<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item"><a href="/" class="menu__link">Hlavní stránka</a></li>
        <li class="menu__item"><a href="/ocentru/" class="menu__link">O centru</a></li>
        <li class="menu__item"><a href="/kurzy/" class="menu__link">Nabízené kurzy</a></li>
        <li class="menu__item"><a href="/rozvrh/" class="menu__link">Rozvrh kurzů</a></li>
        <li class="menu__item"><a href="/fotogalerie/" class="menu__link">Fotogalerie</a></li>
        <li class="menu__item"><a href="/kontakt/" class="menu__link">Kontakt</a></li>
    </ul>
</nav>



    {{ content | safe }}




<footer class="footer">


    <div class="footer__items">
            <ul class="footer__list">
                <li class="footer__item"><a href="/index/" class="footer__link">Hlavní stránka</a></li>
                <li class="footer__item"><a href="/ocentru/" class="footer__link">O centru</a></li>
                <li class="footer__item"><a href="/kurzy/" class="footer__link">Nabízené kurzy</a></li>
                <li class="footer__item"><a href="/rozvrh/" class="footer__link">Rozvrh kurzů</a></li>
                <li class="footer__item"><a href="/fotogalerie/" class="footer__link">Fotogalerie</a></li>
                <li class="footer__item"><a href="/kontakt/" class="footer__link">Kontakt</a></li>
            </ul>
        </div>

        <div class="footer__copyright">
            &copy;2022, Kateřina Zlesáková
        </div>

    </div>

    
</footer>


</body>
</html>